html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $primary-text-color;
  background-color: $bg-color;

  font-family: DM Sans, sans-serif;
  font-style: 400;
  font-weight: 400;
  letter-spacing: 0.03em;

  margin: 0;
}

body.modal-open {
  overflow: hidden;
}
ul {
  list-style: none;

  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
