// Стили для контейнера
.container {
  // width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // outline: 3px solid red;

  // MOBILE

  @media screen and (min-width: 320px) {
    width: 320px;
    // padding-top: 125px;
    // padding-bottom: 98px;
  }

  // TABLET
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // DESCKTOP
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
