@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/dm-sans-v6-latin-regular.b8eca754.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-regular.b8eca754.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-regular.a45f7eae.woff2") format("woff2"), url("/dm-sans-v6-latin-regular.951d2140.woff") format("woff"), url("/dm-sans-v6-latin-regular.8114e003.ttf") format("truetype"), url("/dm-sans-v6-latin-regular.8e9c9c54.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/dm-sans-v6-latin-500.6760241d.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-500.6760241d.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-500.01a97bb0.woff2") format("woff2"), url("/dm-sans-v6-latin-500.044febe0.woff") format("woff"), url("/dm-sans-v6-latin-500.9e53fdac.ttf") format("truetype"), url("/dm-sans-v6-latin-500.acfa4f65.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/dm-sans-v6-latin-700.f08a1f3b.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/dm-sans-v6-latin-700.f08a1f3b.eot?#iefix") format("embedded-opentype"), url("/dm-sans-v6-latin-700.d929dea6.woff2") format("woff2"), url("/dm-sans-v6-latin-700.42c96a41.woff") format("woff"), url("/dm-sans-v6-latin-700.405f0335.ttf") format("truetype"), url("/dm-sans-v6-latin-700.b4c46e03.svg#DMSans") format("svg");
  /* Legacy iOS */
}
/* titan-one-regular - latin */
@font-face {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  src: url("/titan-one-v8-latin-regular.5ecfba8a.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/titan-one-v8-latin-regular.5ecfba8a.eot?#iefix") format("embedded-opentype"), url("/titan-one-v8-latin-regular.c7773417.woff2") format("woff2"), url("/titan-one-v8-latin-regular.7f3e05d4.woff") format("woff"), url("/titan-one-v8-latin-regular.289eb43c.ttf") format("truetype"), url("/titan-one-v8-latin-regular.6dce54aa.svg#TitanOne") format("svg");
  /* Legacy iOS */
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: #fff;
  font-family: "DM Sans";
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  display: block;
}

button {
  text-decoration: none;
  border: none;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 34px;
    padding-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 115px;
    padding-left: 115px;
  }
}

.header {
  position: absolute;
  z-index: 15;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: #fff;
  background-color: transparent;
}
@media screen and (min-width: 480px) {
  .header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    z-index: 10;
  }
}

@media screen and (min-width: 1200px) {
  .hero-nav {
    display: flex;
    align-items: center;
  }
}

.container-main {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container-main {
    padding-right: 34px;
    padding-left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .container-main {
    padding-right: 45px;
    padding-left: 45px;
  }
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 70px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
.logo::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(/logo.6023b87e.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-btn-burger {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-btn-burger {
    position: absolute;
    z-index: 7;
    right: 251px;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn-burger {
    display: none;
  }
}

.header-btn-burger .icon-cross {
  display: none;
}

.header-btn-burger.is-open .icon-cross {
  display: block;
}
@media screen and (min-width: 768px) {
  .header-btn-burger.is-open .icon-cross {
    position: absolute;
    top: 0;
    right: 50px;
  }
}

.header-btn-burger.is-open .icon-menu {
  display: none;
}

.header-btn-burger.is-open .header-icon {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .header-btn-burger.is-open .header-icon {
    position: absolute;
    z-index: 10;
    top: -39px;
    right: -217px;
  }
}

.header-icon {
  width: 20px;
  height: 14px;
}
.header-icon:hover, .header-icon:focus {
  --color1: #fff;
}

@media screen and (max-width: 1199px) {
  .header-wrapper {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 6;
    width: 100%;
    height: auto;
    padding: 60px 0px;
    text-align: center;
    background-color: #e17992;
  }
  .header-wrapper.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-wrapper {
    width: 275px;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper {
    position: relative;
    z-index: 6;
  }
}

.header-wrapper-header-btn {
  margin-right: auto;
  margin-left: auto;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  width: 209px;
  padding: 11px 47px;
  border-radius: 22px;
  color: #d41443;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-wrapper-header-btn:hover, .header-wrapper-header-btn:focus {
  background-color: #ECEBEB;
}
@media screen and (min-width: 1200px) {
  .header-wrapper-header-btn {
    display: none;
  }
}

.header-wrapper-header-btn-main {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  width: 209px;
  padding: 11px 0px;
  border-radius: 22px;
  color: #d41443;
  background-color: #fff;
  position: absolute;
  top: 43px;
  right: 34px;
  z-index: 5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-wrapper-header-btn-main:hover, .header-wrapper-header-btn-main:focus {
  background-color: #ECEBEB;
}
@media screen and (max-width: 767px) {
  .header-wrapper-header-btn-main {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-wrapper-header-btn-main {
    width: 160px;
  }
}
@media screen and (min-width: 1400px) {
  .header-wrapper-header-btn-main {
    right: -6px;
  }
}

@media screen and (max-width: 1199px) {
  .header-wrapper-list {
    margin-top: 32px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper-list {
    display: flex;
    margin-left: 110px;
  }
}

.header-wrapper-item {
  display: block;
  padding-left: 21px;
}
@media screen and (min-width: 576px) {
  .header-wrapper-item {
    padding-left: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper-item {
    padding-left: 0;
  }
  .header-wrapper-item:not(:nth-child(1)) {
    margin-left: 35px;
  }
}
@media screen and (max-width: 1199px) {
  .header-wrapper-item {
    padding-top: 13px;
    padding-bottom: 11px;
    border-bottom: 1px solid #e18298;
  }
  .header-wrapper-item:first-child {
    border-top: 1px solid #e18298;
  }
}

.header-wrapper-link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.header-wrapper-link:hover, .header-wrapper-link:focus {
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .header-wrapper-link {
    font-size: 16px;
    line-height: 1.3;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  height: 502px;
  color: #fff;
  background-color: #ffb8ca;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 665px;
  }
}

.hero-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 320px;
  height: 502px;
}
.hero-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -62px;
  bottom: 75px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
}
@media screen and (min-width: 768px) {
  .hero-wrapper::before {
    right: 137px;
    bottom: 46px;
    width: 324px;
    height: 322px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper::before {
    width: 538px;
    height: 538px;
    right: 164px;
    bottom: 75px;
  }
}
@media screen and (min-width: 480px) {
  .hero-wrapper {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero-wrapper {
    width: 768px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper {
    width: 1280px;
    height: 665px;
  }
}

.main {
  position: absolute;
  bottom: 160px;
  left: 20px;
  z-index: 6;
  width: 218px;
}
@media screen and (min-width: 768px) {
  .main {
    width: 194px;
  }
}
@media screen and (min-width: 768px) {
  .main {
    bottom: 173px;
    left: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    width: 277px;
    bottom: 300px;
    left: 114px;
  }
}

.main-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 38px;
    line-height: 1.16;
  }
}
.main-title span {
  font-family: "Titan One";
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .main-title span {
    font-size: 34px;
    line-height: 90.5%;
  }
}
@media screen and (min-width: 1200px) {
  .main-title span {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.main-list {
  display: flex;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .main-list {
    margin-top: 25px;
  }
}

.main-item:not(:nth-last-child(1)) {
  margin-right: 8px;
}

.main-link {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 13px;
  border-radius: 22px;
  color: #fff;
  background-color: #d41443;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-link:hover, .main-link:focus {
  background-color: #C7133E;
}
@media screen and (min-width: 1200px) {
  .main-link {
    font-size: 14px;
    line-height: 1.3;
    padding: 11px 22px;
  }
}

.main-link.second {
  color: #d41443;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-link.second:hover, .main-link.second:focus {
  background-color: #ECEBEB;
}

.hero-wrapper-numbers {
  position: absolute;
  right: 34px;
  top: 96px;
}
@media screen and (max-width: 767px) {
  .hero-wrapper-numbers {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper-numbers {
    top: 157px;
    right: 98px;
  }
}
@media screen and (min-width: 1400px) {
  .hero-wrapper-numbers {
    right: 22px;
  }
}

.hero-wrapper-milk {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 28px;
  left: 34px;
}
@media screen and (max-width: 767px) {
  .hero-wrapper-milk {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrapper-milk {
    left: 76px;
    bottom: 44px;
  }
}

.milk-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 27px;
}

.milk-img {
  width: 124px;
  height: 126px;
}
@media screen and (min-width: 1200px) {
  .milk-img {
    width: 188px;
    height: 191px;
  }
}

.milk-text {
  position: relative;
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 150%;
  width: 157px;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .milk-text {
    width: 200px;
    font-size: 14px;
    line-height: 1.43;
  }
}

.milk-link {
  margin-top: 7px;
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 1200px) {
  .milk-link {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.numbers-item {
  position: relative;
  z-index: 2;
}
.numbers-item:nth-last-child(1) {
  margin-top: 13px;
}
.numbers-item::after {
  content: "";
  position: absolute;
  top: -4px;
  right: -7px;
  z-index: -4;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (min-width: 1200px) {
  .numbers-item::after {
    width: 30px;
    height: 30px;
    top: -6px;
    right: -16px;
  }
}

.numbers-num {
  font-family: "Titan One";
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 1200px) {
  .numbers-num {
    font-size: 46px;
    line-height: 1.15;
  }
}

.numbers-text {
  font-family: "DM Sans";
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .numbers-text {
    font-size: 14px;
    line-height: 1.3;
  }
}

.hero-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 218px;
}
.hero-title span {
  font-family: "Titan One";
  font-size: 48px;
  line-height: 96.5%;
  text-transform: uppercase;
  color: #d41443;
}

.hero-icecream {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 5;
  width: 171px;
  height: 410px;
}
@media screen and (min-width: 768px) {
  .hero-icecream {
    width: 143px;
    height: 336px;
    right: 247px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-icecream {
    width: 236px;
    height: 557px;
    right: 345px;
  }
}

.hero-girl {
  position: absolute;
  bottom: 0;
  right: 34px;
  z-index: 5;
  width: 168px;
  height: 133px;
}
@media screen and (max-width: 767px) {
  .hero-girl {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hero-girl {
    width: 293px;
    height: 232px;
    right: 12px;
  }
}

.products .container {
  padding-top: 121px;
  padding-bottom: 98px;
}
@media screen and (min-width: 768px) {
  .products .container {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .products .container {
    padding-top: 127px;
    padding-bottom: 114px;
  }
}

.products-list {
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    margin: -10px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    display: flex;
    margin: -15px;
  }
}

.products-item {
  position: relative;
  background-color: #ffb8ca;
  color: #fff;
  width: 280px;
  border-radius: 24px;
  padding-top: 161px;
  padding-left: 44px;
  padding-right: 44px;
  padding-bottom: 41px;
}
@media screen and (min-width: 768px) {
  .products-item {
    width: calc((100% - 6 * 10px) / 3);
    padding-top: 152px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .products-item {
    width: calc((100% - 90px) / 3);
    padding-top: 163px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .products-item:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 768px) {
  .products-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .products-item:not(:last-child) {
    margin-right: 29px;
  }
}

.grey {
  background-color: #f0d1a5;
}

.green {
  background-color: #c2e297;
}

.social-card-section-text {
  display: block;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.01em;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .social-card-section-text {
    line-height: 1.76;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .social-card-section-text {
    font-size: 16px;
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 768px) {
  .text-nomobile {
    display: none;
  }
}

.products-card-name {
  margin-bottom: 30px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .products-card-name {
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .products-link {
    margin-bottom: 32px;
  }
}

.products-media-link-right {
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1200px) {
  .products-media-link-right {
    margin-top: 62px;
  }
}

.products-thumb {
  display: block;
  position: absolute;
  top: -25%;
  right: 0;
  display: flex;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .products-thumb {
    width: 220px;
    top: -25%;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .products-thumb {
    width: 330px;
    right: -13px;
  }
}

.products-text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .products-text {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .products-text {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.products-title {
  margin-bottom: 144px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) {
  .products-title {
    margin-bottom: 150px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .products-title {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.making {
  background-color: #fff5f6;
}
@media screen and (max-width: 767px) {
  .making {
    background-color: #fff5f6;
    background-image: url(/sectionbgmobile.b72b5fb1.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1200px) {
  .making {
    background-color: #fff5f6;
    background-image: url(/sectionbgfon.dd59cd7c.webp);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.making .container {
  padding-top: 125px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .making .container {
    flex-direction: column;
    padding-top: 130px;
    padding-bottom: 256px;
  }
}
@media screen and (min-width: 1200px) {
  .making .container {
    padding-top: 130px;
    padding-bottom: 354px;
  }
}

.making-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .making-title {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .making-title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.making-subtitle {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .making-subtitle {
    font-size: 48px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .making-subtitle {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .making-basis {
    display: flex;
  }
}

.making-text {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .making-text {
    margin-left: 17px;
    width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .making-text {
    margin-left: 74px;
    width: 463px;
  }
}

.making-description {
  margin-bottom: 47px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000;
}
@media screen and (min-width: 768px) {
  .making-description {
    margin-bottom: 49px;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .making-description {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.01em;
  }
}
@media screen and (max-width: 767px) {
  .making-description {
    margin-top: 46px;
  }
}

.making-promotion {
  margin-bottom: 20px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .making-promotion {
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1200px) {
  .making-promotion {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.94;
  }
}

.promotion-two {
  margin-bottom: 0;
}

.making-btn {
  min-width: 176px;
  min-height: 44px;
  border-radius: 22px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  color: #d41443;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .making-btn {
    font-size: 16px;
    line-height: 1.31;
  }
}

.making-btn:hover,
.making-btn:focus {
  background: #ECEBEB;
}

.making-btn-style {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
  .making-btn-style {
    display: flex;
    justify-content: start;
    margin-left: 0;
    margin-top: 62px;
  }
}

.making-btn::after {
  display: flex;
  content: "";
  background-image: url(/btn-icon.3e914728.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 14px;
  position: relative;
  top: 1.5px;
  width: 6px;
  height: 7.9px;
}

@media screen and (min-width: 768px) {
  .making-list {
    display: flex;
    justify-content: space-between;
  }
}

.making-massa {
  margin-bottom: 20px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 767px) {
  .making-massa {
    margin-bottom: 13px;
    letter-spacing: 0.04em;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .making-massa {
    margin-bottom: 15px;
    letter-spacing: 0.04em;
    font-size: 58px;
    line-height: 1.14;
  }
}

.making-circle {
  width: 230px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000;
}
@media screen and (min-width: 767px) {
  .making-circle {
    width: 180px;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .making-circle {
    width: 330px;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.76;
  }
}

@media screen and (max-width: 767px) {
  .making-item:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) {
  .making-item:not(:last-child) {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .making-item:not(:last-child) {
    margin-right: 30px;
  }
}

.making-item img:not(:last-child) {
  margin-bottom: 16px;
}

.making-item img {
  display: inline-block;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .making-item img {
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .making-item:not(:last-child) {
    margin-bottom: 38px;
  }
}
.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media screen and (max-width: 767px) {
  .overlay {
    background-image: url(/Cowbg320.30cc5dba.png);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay .overlay {
    background-image: url(/Cowbg320@2x.c6cd1319.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .overlay .overlay {
    background-image: url(/Cowbg320@3x.25334b6c.png);
  }
}
@media screen and (min-width: 1200px) {
  .overlay .overlay {
    background-image: url(/Cowbg1200.f0c4201f.png);
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay .overlay {
    background-image: url(/Cowbg1200@2x.359f7582.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .overlay .overlay {
    background-image: url(/Cowbg1200@3x.a9fd1984.png);
  }
}

.container-gallery {
  position: relative;
  top: -52px;
}
@media screen and (min-width: 768px) {
  .container-gallery {
    top: -110px;
  }
}
@media screen and (min-width: 1200px) {
  .container-gallery {
    top: -180px;
  }
}

.masonry-list {
  display: flex;
  padding-inline-start: 0;
  justify-content: center;
}

.masonry-list__item {
  display: flex;
  position: relative;
  align-items: center;
}

.inside-list__item {
  display: flex;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 1px;
}
@media screen and (min-width: 768px) {
  .inside-list__item {
    margin-right: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .inside-list__item {
    margin-right: 8px;
  }
}
.inside-list__item:hover, .inside-list__item:focus {
  position: sticky;
  z-index: 100;
  transform: scale(1.5);
}

.inside-list__first-item {
  margin-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .inside-list__first-item {
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 1200px) {
  .inside-list__first-item {
    margin-bottom: 8px;
  }
}

.inside-list__item--left-positioned {
  display: inline-block;
}

.masonry__photo {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .masonry__photo {
    width: 86px;
    height: 86px;
  }
}
@media screen and (min-width: 1200px) {
  .masonry__photo {
    width: 140px;
    height: 140px;
    border-radius: 20px;
  }
}

.masonry__photo--bigger {
  width: 81px;
  height: 81px;
}
@media screen and (min-width: 768px) {
  .masonry__photo--bigger {
    width: 175px;
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .masonry__photo--bigger {
    width: 285px;
    height: 285px;
  }
}

.reviews .container {
  padding-bottom: 170px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reviews .container {
    padding-right: 74px;
    padding-left: 74px;
    padding-bottom: 197px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews .container {
    padding-bottom: 234px;
    padding-right: 177px;
    padding-left: 177px;
  }
}

.swiper-wraper {
  height: 0px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  display: block;
  max-width: 280px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .swiper-slide {
    max-width: 620px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-slide {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-slide {
    max-width: 926px;
  }
}

.reviewers-photo {
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .reviewers-photo {
    margin-bottom: 19px;
  }
}

.comment-box {
  display: block;
  background-color: #fafafa;
  position: relative;
  max-width: 926px;
  padding: 41px 50px 20px 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .comment-box {
    padding: 47px 38px 28px 38px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .comment-box {
    padding: 47px 52px;
    margin-bottom: 15px;
  }
}

.quotes {
  position: absolute;
  top: 26px;
  left: 63px;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .quotes {
    top: 30px;
    left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .quotes {
    top: 32px;
    left: 50px;
  }
}

.comment {
  display: block;
  position: static;
  padding-left: 10px;
  padding-right: 10px;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  letter-spacing: 0.04em;
  z-index: 1;
  background: repeating-linear-gradient(to bottom, #e1e1e1 0px, transparent 1px, transparent 30px, #e1e1e1 30px, #e1e1e1 31px);
  background-position: center bottom 3px;
}
@media screen and (min-width: 768px) {
  .comment {
    font-size: 14px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .comment {
    font-size: 16px;
  }
}

.reviewers-info {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
}
@media screen and (min-width: 768px) {
  .reviewers-info {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .reviewers-info {
    font-size: 20px;
  }
}

.dots-list {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .dots-list {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .dots-list {
    margin-bottom: 15px;
  }
}

.dots-item {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C7133E;
}
.dots-item:not(:last-child) {
  margin-right: 10px;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0px !important;
  opacity: 1;
  background-color: #d9d9d9;
}
.swiper-pagination-bullet:not(:last-child) {
  margin-right: 18px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}
.swiper-pagination-bullet-active:before {
  display: block;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url("/home.0b418474.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
}

.location {
  background-color: #fff5f6;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.5;
  font-family: "DM Sans";
}
.location .location-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 54px;
}
.location .location-content {
  position: relative;
  top: -83px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .location .location-content {
    padding-bottom: 82px;
  }
}

@media screen and (min-width: 768px) {
  .location {
    top: -78px;
  }
  .location .location-list {
    flex-direction: row;
    margin-bottom: 81px;
  }
}
@media screen and (min-width: 1200px) {
  .location {
    top: -103px;
  }
  .location .location-list {
    margin-bottom: 86px;
  }
}
.location-list-item {
  background-color: #fff;
  border-radius: 24px;
  padding: 43px 21px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  max-width: 220px;
  margin: 0 auto;
}
.location-list-item .location-place {
  padding: 0 21px;
  display: inline-block;
  border-radius: 4px;
  letter-spacing: 0.04em;
  line-height: 1.8;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}
.location-list-item .location-city {
  line-height: 1.8;
  letter-spacing: 0.04em;
  margin-bottom: 10px;
  color: #000;
}
.location-list-item .location-description {
  color: #907e82;
  position: relative;
}
.location-list-item .location-date {
  margin-bottom: 5px;
  color: #000;
  line-height: 1.8;
}
.location-list-item .location-time {
  margin-bottom: 10px;
  line-height: 1.8;
  color: #ffa5ba;
  position: relative;
}
.location-list-item .location-time:first-child {
  margin-bottom: 10px;
}
.location-list-item .desc-line {
  margin-bottom: 50px;
}
.location-list-item .desc-line::after {
  content: "";
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  border: 1px solid #e1e1e1;
}
.location-list-item .location-contacts {
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .location {
    font-size: 14px;
  }
  .location .location-list-item {
    padding: 50px 31px;
    min-width: 220px;
  }
  .location .location-list-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .location .location-list-item:last-child {
    margin-bottom: 0;
  }
}
.location-contacts:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .location {
    font-size: 16px;
    background-image: url("/sectionbg2 1background-location.0d5ac710.png");
    background-position: top center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .location {
    background-image: url("/sectionbg2 1@2x.1e966197.png");
  }
}
@media screen and (min-width: 1200px) {
  .location .location-list-item {
    padding: 51px 43px;
    min-width: 330px;
  }
  .location .location-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
.location-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.place-green {
  background-color: #c2e297;
}

.place-brown {
  background-color: #f0d1a5;
}

.location-nav-list {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-right: auto;
  margin-left: auto;
}
.location-nav-list .location-nav-item {
  display: inline-block;
  max-width: 162px;
}
.location-nav-list .location-nav-item a {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 161px;
  text-align: center;
  border-radius: 22px;
  padding: 14px 17px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location-nav-list .location-nav-item:first-child a {
  background-color: #d41342;
  color: #fff;
}
.location-nav-list .location-nav-item:first-child a:hover, .location-nav-list .location-nav-item:first-child a:focus {
  background-color: #fff;
  color: #d41342;
}
.location-nav-list .location-nav-item:first-child a:hover, .location-nav-list .location-nav-item:first-child a:focus .arrow-white {
  stroke: #d41342;
  --color1: $btn-color;
}
.location-nav-list .location-nav-item:last-child a {
  background-color: #fff;
  color: #d41342;
}
.location-nav-list .location-nav-item:last-child a:hover, .location-nav-list .location-nav-item:last-child a:focus {
  background-color: #d41342;
  color: #fff;
}
.location-nav-list .location-nav-item:last-child a:hover .arrow-red {
  stroke: #fff;
  --color1: $primary-text-color;
}
.location-nav-list .location-arrow {
  display: inline-flex;
  width: 4.3px;
  height: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.location-nav-list .arrow-red {
  stroke: #d41342;
  --color1: $btn-color;
}

@media screen and (max-width: 767px) {
  .location-nav-item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .location-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location-nav-list .location-nav-item {
    min-width: 198px;
    margin-bottom: 0;
  }
  .location-nav-list .location-nav-item:first-child {
    margin-right: 15px;
  }
  .location-nav-list .location-nav-item a {
    width: 100%;
    display: inline-block;
    padding: 14px 36px;
  }
}
@media screen and (min-width: 1200px) {
  .location-nav-list .location-nav-item {
    min-width: 198px;
  }
  .location-nav-list .location-nav-item:first-child {
    margin-right: 15px;
  }
}
.footer {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .footer-box {
    padding-left: auto;
    padding-right: auto;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .text {
    margin-bottom: 43px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text {
    margin-top: 7px;
  }
}

.text-h2 {
  font-family: "Titan One";
  font-weight: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: #ffa5ba;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .text-h2 {
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text-h2 {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .text-h2 {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.text-wrap {
  display: inline-block;
}
@media screen and (max-width: 1199px) {
  .text-wrap {
    display: block;
  }
}

@media screen and (max-width: 1199px) {
  .text-wrap-footer {
    display: block;
  }
}

.text-h3 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text-h3 {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    max-width: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .text-h3 {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.social-icon:not(:last-child) {
  margin-right: 28px;
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .social-icon:not(:last-child) {
    margin-right: 30px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: #fea5bb;
}
.social-link .logo-icon {
  fill: #fff;
}

.social-link:hover,
.social-link:focus {
  background: #d41443;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon:hover .social-link {
  background: #d41443;
}

.footer-p {
  display: flex;
  justify-content: flex-end;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000;
  text-align: right;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-p {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer .footer-p-link {
  color: #d41443;
  font-weight: 700;
  margin-left: 5px;
}

.footer-copy {
  border-top: 1px solid #e1e1e1;
}
@media screen and (max-width: 767px) {
  .footer-copy {
    padding-top: 22px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-copy {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-copy {
    padding-top: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.footer-copy-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: #907e82;
}
@media screen and (max-width: 767px) {
  .footer-copy-text {
    text-align: center;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */