// Переменные цвета
$primary-text-color: #fff;
$secondary-text-color: #000;
$third-text-color: #907e82;

$h3-text-color: #ffa5ba;

$accent-color: #d41443;

$bg-color: #fff;
$bgc-hero: #ffb8ca;
$secondary-bg-color: #fff5f6;
$bgc-reviews: #fafafa;
$bgc-menu: #e17992;

$btn-color: #d41342;

$btn-social-color: #fea5bb;

$cafe-color: #f0d1a5;
$food-truck-color: #c2e297;

$border-color: #e18298;

$dm-sans: 'DM Sans';
$titan: 'Titan One';

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
