<header class="header header-container">
    <div class="header__section">
        <a class="logo" href="#" name="Home">
            <picture>
                <source type="image/webp" srcset="
                        ./images/alternative-hero+header/logo@1x.webp 1x,
                        ./images/alternative-hero+header/logo@2x.webp 2x">
                <img alt="Logo with the inscription icecream" width="199" height="50" srcset="
                        ./images/alternative-hero+header/logo@1x.png 1x,
                        ./images/alternative-hero+header/logo@2x.png 2x" 
                    src="./images/alternative-hero+header/logo@1x.png">
            </picture>
        </a>
        
        <button type="button" class="header__menu-button" data-menu-open>
            <svg width="20" height="12" class="header-icon" aria-label="Переключатель мобильного меню">
                <use class="icon-menu" href="./images/alternative-hero+header/sprite.svg#burger"></use>
            </svg>
        </button>
        <button type="button" class="button-buy header__button-buy">
            Buy now<span class="button-buy__symbol">&#160; &#160; &#62;</span>
        </button>
        
        <nav class="nav" data-menu>
            <button type="button" class="header__close-button" data-menu-close>
                <svg width="14" height="14" class="header-icon" aria-label="Переключатель мобильного меню">
                    <use class="icon-cross" href="./images/alternative-hero+header/sprite.svg#close"></use>
                </svg>
            </button>
            <button type="button" class="button-buy">
                Buy now<span class="button-buy__symbol">&#160; &#160; &#62;</span>
            </button>
            <ul class="nav-list">
                <li class="nav-list__item"><a class="nav-list__link nav-list__link--selected-page" href="#">Home</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#About_us">About us</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#How_made">How it’s made?</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#Our_products">Our products</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#Contacts">Contact</a></li>
            </ul>
        </nav>
        
        <button type="button" class="header__button">
            Buy now
        </button>
    </div>
        
        
    <div class="hero">
                <div class="round"></div>
                <picture class="hero__icecream">
                    <source media="(min-width: 1200px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-icecream-desktop@1x.webp 1x,
                                ./images/alternative-hero+header/slider-icecream-desktop@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-icecream-desktop@3x.webp 3x">
                    <source media="(min-width: 768px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-icecream-tablet@1x.webp 1x,
                                ./images/alternative-hero+header/slider-icecream-tablet@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-icecream-tablet@3x.webp 3x">
                    <source media="(max-width: 767px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-icecream-mobile@1x.webp 1x,
                                ./images/alternative-hero+header/slider-icecream-mobile@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-icecream-mobile@3x.webp 3x">
                    <source media="(min-width: 1200px)" type="image/png" srcset="
                                ./images/alternative-hero+header/slider-icecream-desktop@1x.png 1x,
                                ./images/alternative-hero+header/slider-icecream-desktop@2x.png 2x, 
                                ./images/alternative-hero+header/slider-icecream-desktop@3x.png 3x">
                    <source media="(min-width: 768px)" type="image/png" srcset="
                                ./images/alternative-hero+header/slider-icecream-tablet@1x.png 1x,
                                ./images/alternative-hero+header/slider-icecream-tablet@2x.png 2x, 
                                ./images/alternative-hero+header/slider-icecream-tablet@3x.png 3x">
                    <img alt="icecream" srcset="
                                ./images/alternative-hero+header/slider-icecream-mobile@1x.png 1x,
                                ./images/alternative-hero+header/slider-icecream-mobile@2x.png 2x, 
                                ./images/alternative-hero+header/slider-icecream-mobile@3x.png 3x"
                        src="./images/alternative-hero+header/slider-icecream-mobile@1x.png">
                </picture>
                <div class="hero__info">
                    <h1 class="hero__h1">ice cream made with <span class="hero__span">passion</span></h1>
        
                    <ul class="hero-list">
                        <li class="hero-list__item">
                            <a class="hero__button hero__button--red" href="#Our_products">
                                Products
                            </a>
                            <!-- <button type="button" class="hero__button hero__button--red"><a href="#Our_products"></a>
                                Products
                            </button> -->
                        </li>
                        <li class="hero-list__item">
                            <a class="hero__button" href="#How_made">
                                How it’s made?
                            </a>
                            <!-- <button type="button" class="hero__button"><a href="#How_made"></a>
                                How it’s made?
                            </button> -->
                        </li>
                    </ul>
                </div>
        
                <div class="hero__add-info">
                <picture class="hero__milk">
                    <source media="(min-width: 1200px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-milk-desktop@1x.webp 1x,
                                ./images/alternative-hero+header/slider-milk-desktop@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-milk-desktop@3x.webp 3x">
                    <source media="(min-width: 768px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-milk-tablet@1x.webp 1x,
                                ./images/alternative-hero+header/slider-milk-tablet@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-milk-tablet@3x.webp 3x">
                    <source media="(min-width: 1200px)" type="image/png" srcset="
                                ./images/alternative-hero+header/slider-milk-desktop@1x.png 1x,
                                ./images/alternative-hero+header/slider-milk-desktop@2x.png 2x, 
                                ./images/alternative-hero+header/slider-milk-desktop@3x.png 3x">
                    <img alt="milk" srcset="
                                ./images/alternative-hero+header/slider-milk-tablet@1x.png 1x,
                                ./images/alternative-hero+header/slider-milk-tablet@2x.png 2x, 
                                ./images/alternative-hero+header/slider-milk-tablet@3x.png 3x"
                        src="./images/alternative-hero+header/slider-milk-tablet@1x.png">
                </picture>        
                    <p class="hero__milk-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et</p>
        
                    <a class="hero__arrow-link" href="#">
                        <picture>
                            <source media="(min-width: 1200px)" type="image/webp" srcset="
                                    ./images/alternative-hero+header/arrow-right-3-desktop@1x.webp 1x,
                                    ./images/alternative-hero+header/arrow-right-3-desktop@2x.webp 2x, 
                                    ./images/alternative-hero+header/arrow-right-3-desktop@3x.webp 3x">
                            <source media="(min-width: 768px)" type="image/webp" srcset="
                                    ./images/alternative-hero+header/arrow-right-3-tablet@1x.webp 1x,
                                    ./images/alternative-hero+header/arrow-right-3-tablet@2x.webp 2x, 
                                    ./images/alternative-hero+header/arrow-right-3-tablet@3x.webp 3x">
                            <source media="(min-width: 1200px)" type="image/png" srcset="
                                    ./images/alternative-hero+header/arrow-right-3-desktop@1x.png 1x,
                                    ./images/alternative-hero+header/arrow-right-3-desktop@2x.png 2x, 
                                    ./images/alternative-hero+header/arrow-right-3-desktop@3x.png 3x">
                            <img alt="arrow-right" width="26" height="26" srcset="
                                    ./images/alternative-hero+header/arrow-right-3-tablet@1x.png 1x,
                                    ./images/alternative-hero+header/arrow-right-3-tablet@2x.png 2x, 
                                    ./images/alternative-hero+header/arrow-right-3-tablet@3x.png 3x"
                                src="./images/alternative-hero+header/arrow-right-3-desktop@1x.png">
                        </picture>        
                    </a>      
                    
                    <ul class="number-list">
                        <li class="number-list__item">
                            <div class="number-list__round"></div>
                            <h1 class="number-list__header">16</h1>
                            <p class="number-list__info">cafes</p>
                        </li>
                        <li class="number-list__item">
                            <div class="number-list__round"></div>
                            <h1 class="number-list__header">23</h1>
                            <p class="number-list__info">food trucks</p>
                        </li>
                    </ul>
                    <picture class="hero__girl-pic">
                        <source media="(min-width: 1200px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-girl-desktop@1x.webp 1x,
                                ./images/alternative-hero+header/slider-girl-desktop@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-girl-desktop@3x.webp 3x">
                        <source media="(min-width: 768px)" type="image/webp" srcset="
                                ./images/alternative-hero+header/slider-girl-tablet@1x.webp 1x,
                                ./images/alternative-hero+header/slider-girl-tablet@2x.webp 2x, 
                                ./images/alternative-hero+header/slider-girl-tablet@3x.webp 3x">
                        <source media="(min-width: 1200px)" type="image/png" srcset="
                                ./images/alternative-hero+header/slider-girl-desktop@1x.png 1x,
                                ./images/alternative-hero+header/slider-girl-desktop@2x.png 2x, 
                                ./images/alternative-hero+header/slider-girl-desktop@3x.png 3x">
                        <img alt="girl tolding sooooo tasty!" srcset="
                                ./images/alternative-hero+header/slider-girl-tablet@1x.png 1x,
                                ./images/alternative-hero+header/slider-girl-tablet@2x.png 2x, 
                                ./images/alternative-hero+header/slider-girl-tablet@3x.png 3x"
                            src="./images/alternative-hero+header/slider-girl-tablet@1x.png">
                    </picture>
                </div>
    </div>
</header>
