<footer class="container footer">
    <div class="footer-box">
        <div class="text">
            <h2 class="text-h2">homemade ice cream 
                <span class="text-wrap">made</span>
            </h2>
            <h3 class="text-h3">
                <span class="text-wrap">with</span> passion</h3>
        </div>
        <div class="footer-social">
            <ul class="footer-social-list">
                <li class="social-icon">
                    <a href="https://github.com/" class="social-link">
                        <svg class="logo-icon" width=20 height=20>
                            <use href="./images/sprite.svg#github">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="https://web.telegram.org/" class="social-link">
                        <svg class="logo-icon" width=20 height=15>
                            <use href="./images/sprite.svg#telegram">
                            </use>
                        </svg>
                    </a>
                </li>
                <li class="social-icon">
                    <a href="https://facebook.com" class="social-link ">
                        <svg class="logo-icon" width=10 height=20>
                            <use href="./images/sprite.svg#facebook">
                            </use>
                        </svg>
                    </a>
                </li>

            </ul>
            <p class="footer-p">Feel free to contact
                <a href="tel:+61(0)383766284" class="footer-p-link">
                    +61 (0) 383 766 284
                </a>
            </p>
        </div>
    </div>
</footer>
<footer>
    <div class="footer-copy">
        <p class="footer-copy-text">© 2019 - IceCream.
            <span class="text-wrap-footer">All Rights Reserved.</span>
        </p>
    </div>
</footer>