<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Masonry style photo gallery-->
<section class="container-gallery">
    <h2 class="visually-hidden">Masonry style gallery</h2>
    <ul class="masonry-list">
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/1.png" alt="Картинка 1" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/2.png" alt="Картинка 2" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/3.png" alt="Картинка 3" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/4.png" alt="Картинка 4" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/5.png" alt="Картинка 5" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/6.png" alt="Картинка 6" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/7.png" alt="Картинка 7" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/8.png" alt="Картинка 8" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/9.png" alt="Картинка 9" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/10.png" alt="Картинка 10" width="40px" height="40px"></li>
            </ul>
        </li>
    </ul>
</section>
</body>
</html>