<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- Masonry style photo gallery-->
<section class="container-gallery">
    <h2 class="visually-hidden">Masonry style gallery</h2>
    <ul class="masonry-list">
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item">
                    <!-- <picture>
                        <source media="(min-width: 1200px)" type="image/webp" srcset="
                                                    ./images/team/photo1/photo1-desktop@1x.webp 1x,
                                                    ./images/team/photo1/photo1-desktop@2x.webp 2x, 
                                                    ./images/team/photo1/photo1-desktop@3x.webp 3x,">
                        <source media="(min-width: 768px)" type="image/webp" srcset="
                                                    ./images/team/photo1/photo1-tablet@1x.webp 1x,
                                                    ./images/team/photo1/photo1-tablet@2x.webp 2x, 
                                                    ./images/team/photo1/photo1-tablet@3x.webp 3x,">
                        <source media="(max-width: 767px)" type="image/webp" srcset="
                                                    ./images/team/photo1/photo1-mobile@1x.webp 1x,
                                                    ./images/team/photo1/photo1-mobile@2x.webp 2x, 
                                                    ./images/team/photo1/photo1-mobile@3x.webp 3x,">
                        <source media="(min-width: 1200px)" type="image/jpg" srcset="
                                                    ./images/team/photo1/photo1-desktop@1x.jpg 1x,
                                                    ./images/team/photo1/photo1-desktop@2x.jpg 2x, 
                                                    ./images/team/photo1/photo1-desktop@3x.jpg 3x,">
                        <source media="(min-width: 768px)" type="image/jpg" srcset="
                                                    ./images/team/photo1/photo1-tablet@1x.jpg 1x,
                                                    ./images/team/photo1/photo1-tablet@2x.jpg 2x, 
                                                    ./images/team/photo1/photo1-tablet@3x.jpg 3x,">
                        <img alt="Игорь Демьяненко" width="270" height="260" srcset="
                                                    ./images/team/photo1/photo1-mobile@1x.jpg 1x,
                                                    ./images/team/photo1/photo1-mobile@2x.jpg 2x, 
                                                    ./images/team/photo1/photo1-mobile@3x.jpg 3x,"
                            src="./images/team/photo1/photo1-mobile@1x.jpg">
                    </picture> -->
                    <img class="masonry__photo" src="./images/gallery/1.png" alt="Картинка 1" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/2.png" alt="Картинка 2" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/3.png" alt="Картинка 3" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo masonry__photo--bigger" src="./images/gallery/4.png" alt="Картинка 4" width="40px" height="40px"></li>
                <li class="inside-list__item inside-list__item--left-positioned"><img class="masonry__photo" src="./images/gallery/5.png" alt="Картинка 5" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/6.png" alt="Картинка 6" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/7.png" alt="Картинка 7" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item inside-list__first-item"><img class="masonry__photo" src="./images/gallery/8.png" alt="Картинка 8" width="40px" height="40px"></li>
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/9.png" alt="Картинка 9" width="40px" height="40px"></li>
            </ul>
        </li>
        <li class="masonry-list__item">
            <ul class="masonry-list__inside-list">
                <li class="inside-list__item"><img class="masonry__photo" src="./images/gallery/10.png" alt="Картинка 10" width="40px" height="40px"></li>
            </ul>
        </li>
    </ul>
</section>
</body>
</html>