<header class="header">
  <nav class="nav">
    <a class="logo" href="#">logo</a>
    <button class="header__btn-burger">x</button>
    <a class="heade__btn-buy" href="#">Buy now</a>
    <ul class="header-list">
      <li class="header-item"><a class="header-link" href="#">Home</a></li>
      <li class="header-item"><a class="header-link" href="#">About us</a></li>
      <li class="header-item">
        <a class="header-link" href="#">How it’s made?</a>
      </li>
      <li class="header-item">
        <a class="header-link" href="#">Our products</a>
      </li>
      <li class="header-item"><a class="header-link" href="#">Contact</a></li>
    </ul>
  </nav>
</header>
