<header class="header" >
  <div class="header-circle"></div>
  <div class="container header">
    <nav class="nav">
      <div class="header-box">
        <a class="logo" href="#">
          <picture>
            <img class="logo-img" src="./images/logo.png" alt="logo" />
          </picture>
        </a>
        <button
          class="header-btn-burger"
          type="button"
          aria-controls="header-holder"
          aria-expanded="false"
          data-menu-button
        >
          <svg class="header-icon" aria-label="Переключатель мобильного меню">
            <use class="icon-menu" href="./images/sprite.svg#burger"></use>
            <use class="icon-cross" href="./images/sprite.svg#close"></use>
          </svg>
        </button>
      </div>
      <div class="header-holder" id="header-holder" data-menu>
        <a class="header-btn-buy" href="#">Buy now &#8250</a>
        <ul class="list">
          <li class="item">
            <a class="link" href="#">Home</a>
          </li>
          <li class="item">
            <a class="link" href="#">About us</a>
          </li>
          <li class="item">
            <a class="link" href="#">How it’s made?</a>
          </li>
          <li class="item">
            <a class="link" href="#">Our products</a>
          </li>
          <li class="item">
            <a class="link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-wrapper">
      <div class="header-wrapper__title">
        <h1 class="header-title">ice cream made with <span>passion</span></h1>
        <ul class="list">
          <li class="item"><a class="link" href="#">Products</a></li>
          <li class="item">
            <a class="link second" href="#">How it’s made?</a>
          </li>
        </ul>
      </div>
      <div class="header-wrapper__numbers">
        <ul class="list">
          <li class="item">
            <div class="number">16</div>
            <p class="text">cafes</p>
          </li>
          <li class="item">
            <div class="number">23</div>
            <p class="text">food trucks</p>
          </li>
        </ul>
      </div>
      <div class="header-wrapper__milk">
        <picture>
          <img class="header-milk" src="" alt="milk" />
        </picture>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
      <picture>
        <img
          class="header-icecream"
          src="./images/mobile-hero-iceCream.png"
          alt="ice cream"
        />
      </picture>
      <picture>
        <img class="header-girl" src="" alt="girl width ice cream" />
      </picture>
    </div>
  </div>
</header>
