<section class="location ">
    <div class="location-content container">
        <ul class="location-list">
            <li class="location-list-item">
                <h3 class="location-place place-brown">cafe</h3>
                <p class="location-city">Chicago</p>
                <p class="location-description desc-line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="location-date">Monday - Friday</p>
                <p class="location-time">06:00 AM - 10:00 PM</p>
                <p class="location-date">Saturday - Sunday</p>
                <p class="location-time desc-line">08:00 AM - 16:00 PM</p>
                <a href="tel:+61(0) 383 766 284 " class="location-contacts">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="location-contacts">noreply@envato.com</a>
            </li>
            <li class="location-list-item">
                <h3 class="location-place place-green">foodtruck</h3>
                <p class="location-city">Los Angeles</p>
                <p class="location-description desc-line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="location-date">Monday - Friday</p>
                <p class="location-time">06:00 AM - 10:00 PM</p>
                <p class="location-date">Saturday - Sunday</p>
                <p class="location-time desc-line">08:00 AM - 16:00 PM</p>
                <a href="tel:+61(0) 383 766 284 " class="location-contacts">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="location-contacts">noreply@envato.com</a>
            </li>
            <li class="location-list-item">
                <h3 class="location-place place-brown">cafe</h3>
                <p class="location-city">New York</p>
                <p class="location-description desc-line">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <p class="location-date">Monday - Friday</p>
                <p class="location-time">06:00 AM - 10:00 PM</p>
                <p class="location-date">Saturday - Sunday</p>
                <p class="location-time desc-line">08:00 AM - 16:00 PM</p>
                <a href="tel:+61(0) 383 766 284 " class="location-contacts">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="location-contacts">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="location-nav-list">
            <li class="location-nav-item"><a href="">Our Locations
                    <!-- <svg class="location-sign">
                        <use href="../images/sprite.svg#location-sign"></use>
                    </svg> -->
                </a></li>
            <li class="location-nav-item"><a href="">Franchise
                    <!-- <svg class="location-sign location-sign-red">
                        <use href="../images/sprite.svg#location-sign"></use>
                    </svg> -->
                </a></li>
        </ul>
    </div>
</section>