<section class="section products">
    <div class="container ">
        <div class="products-title">
            <h2>100% natural</h2>
            <h1>products</h1>
        </div>
        <ul>
            <li class="products-item">

                <div class="products-card">

                    <h2 class="products-card-name">ice cream</h2>

                    <a class="products-media-link" href="">
                        <svg class="soc-media-logo" width="40px" height="6px">
                            <use href="./img/sprite.svg#icon-Group-4"></use>
                        </svg>
                    </a>

                    <p class="social-card-section-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incidid ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <div class="products-media-link">
                        <img src="./img/arrow/arrow-right.png" alt="">
                    </div>


                    <div class="products-thumb">
                        <img src="./img/ice-cream.png/mobile-ice-cream.png" alt="">
                    </div>
                </div>
            </li>

            <li class="products-item">

                <div class="products-card-grey">

                    <h2 class="products-card-name">ice coffee</h2>

                    <a class="products-media-link" href="">
                        <svg class="soc-media-logo" width="40px" height="6px">
                            <use href="./img/sprite.svg#icon-Group-4"></use>
                        </svg>
                    </a>

                    <p class="social-card-section-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incidid ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <div class="products-media-link">
                        <img src="./img/arrow/arrow-right.png" alt="">
                    </div>

                    <div class="products-thumb">
                        <img src="./img/ice-coffee.png/mob-ice-coffee.png" alt="">
                    </div>

                </div>
            </li>

            <li class="products-item">

                <div class="products-card-green">

                    <h2 class="products-card-name">milkshakes</h2>

                    <a class="products-media-link" href="">
                        <svg class="soc-media-logo" width="40px" height="6px">
                            <use href="./img/sprite.svg#icon-Group-4"></use>
                        </svg>
                    </a>

                    <p class="social-card-section-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incidid ut labore et. dolore magna
                        aliqua facilisis.
                    </p>
                    <div class="products-media-link">
                        <img src="./img/arrow/arrow-right.png" alt="">
                    </div>


                    <div class="products-thumb">
                        <img src="./img/milkshakes.png/mob-milkshakes.png" alt="">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>