<section class="reviews">
    <div class="container-reviews">
        <!-- SLIDER -->
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="reviewers-photo" src="./images/testimonials1.jpg">
                        <div class="comment-box" width="920">
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                            <p class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.</p>                        
                            </div>
                        <ul class="dots-list">
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                        </ul>
                        <p class="reviewers-info">Emily, Los Angeles</p>
                    </div>
                    <div class="swiper-slide">
                        <img class="reviewers-photo" src="./images/testimonials2.jpg">
                        <div class="comment-box">
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                            <p class="comment">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloremque sequi qui molestias est hic explicabo dolorem voluptatum quod. Autem quos atque architecto vero natus cupiditate voluptatibus ducimus iure consectetur accusamus excepturi voluptates officiis, mollitia, quas quasi adipisci, in odio.</p>
                        </div>
                        <ul class="dots-list">
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                        </ul>
                        <p class="reviewers-info">Ann, Chicago</p>
                    </div>
                    <div class="swiper-slide">
                        <img class="reviewers-photo" src="./images/testimonials3.jpg">
                        <div class="comment-box">
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                            <p class="comment">In corrupti cum obcaecati sapiente id nam repellendus, deleniti harum praesentium qui ea? Facilis impedit, tenetur commodi et pariatur, voluptatem sequi ut consectetur sapiente est necessitatibus iusto modi ea nisi ab exercitationem qui architecto unde officia recusandae. Quas, quia repellendus.</p>
                        </div>
                        <ul class="dots-list">
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                        </ul>
                        <p class="reviewers-info">Monica, New York</p>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Navigation -->
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
           </div>
    </div>
</section>