<section class="reviews">
    <div class="container-reviews">
        <!-- SLIDER -->
           <div class="swiper-container">
               <a name="About_us"></a>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="reviewers-photo" src="./images/testimonials1.jpg">
                        <div class="comment-box" width="920">
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                            <p class="comment">Nullam viverra<br> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit
                                nulla quam nunc,<br>
                                accumsan
                                congue. Lorem ipsum primis in nibh vel<br> risus.</p>                        
                            </div>
                        <ul class="dots-list">
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                        </ul>
                        <p class="reviewers-info">Emily, Los Angeles</p>
                    </div>
                    <div class="swiper-slide">
                        <img class="reviewers-photo" src="./images/testimonials2.jpg">
                        <div class="comment-box">
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                            <p class="comment">Nullam viverra<br> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit
                                nulla quam nunc,<br>
                                accumsan
                                congue. Lorem ipsum primis in nibh vel<br> risus.</p>
                        </div>
                        <ul class="dots-list">
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                        </ul>
                        <p class="reviewers-info">Emily, Los Angeles</p>
                    </div>
                    <div class="swiper-slide">
                        <img class="reviewers-photo" src="./images/testimonials3.jpg">
                        <div class="comment-box">
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                            <p class="comment">Nullam viverra<br> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                                hendrerit
                                nulla quam nunc,<br>
                                accumsan
                                congue. Lorem ipsum primis in nibh vel<br> risus.</p>
                        </div>
                        <ul class="dots-list">
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                            <li class="dots-item"></li>
                        </ul>
                        <p class="reviewers-info">Emily, Los Angeles</p>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Navigation -->
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
           </div>
    </div>
</section>