<section class="reviews">
    <div class="container">
        <!-- SLIDER -->
        <div class="slider sl-cont">
            <div class="slide"></div>
            <div class="slide"></div>
            <div class="slide"></div>
        </div>
           <ul class="slider">
                <li>
                    <img class="reviewers-photo" src="./images/testimonials1.jpg">
                    <div class="comment-box">
                        
                            <svg class="quotes" width="54" height="40">
                                <use href="./images/sprite.svg#icon-quotes"></use>
                            </svg>
                        
                        <p class="comment">Nullam viverra<br> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,<br>
                            accumsan
                            congue. Lorem ipsum primis in nibh vel<br> risus.</p>                           
                    </div>
                    <ul class="dots-list">
                        <li class="dots-item"></li>
                        <li class="dots-item"></li>
                        <li class="dots-item"></li>
                    </ul>
                    <p class="reviewers-info">Emily, Los Angeles</p>                    
                </li>
                <li>
                    <img class="reviewers-photo" src="./images/testimonials2.jpg">
                    <div class="comment-box">
                
                        <svg class="quotes" width="54" height="40">
                            <use href="./images/sprite.svg#icon-quotes"></use>
                        </svg>
                
                        <p class="comment">Nullam viverra<br> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <ul class="dots-list">
                        <li class="dots-item"></li>
                        <li class="dots-item"></li>
                        <li class="dots-item"></li>
                    </ul>
                    <p class="reviewers-info">Emily, Los Angeles</p>
                </li>
                <li>
                    <img class="reviewers-photo" src="./images/testimonials3.jpg">
                    <div class="comment-box">
                
                        <svg class="quotes" width="54" height="40">
                            <use href="./images/sprite.svg#icon-quotes"></use>
                        </svg>
                
                        <p class="comment">Nullam viverra<br> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
                    <ul class="dots-list">
                        <li class="dots-item"></li>
                        <li class="dots-item"></li>
                        <li class="dots-item"></li>
                    </ul>
                    <p class="reviewers-info">Emily, Los Angeles</p>
                </li>
                
            </ul>
    </div>
</section>