.header {
  background-color: $bgc-hero;
  overflow: hidden;
  height: 502px;
  color: $primary-text-color;
  position: relative;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;
  @media all and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
  }
  @media all and (min-width: 1200px) {
    width: 1280px;
    padding-left: 76px;
    padding-right: 98px;
  }
}

.header__menu-button {
  background-color: transparent;
}

.nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 502px;
  padding-top: 60px;

  background-color: $bgc-menu;
  z-index: 90;
  font-family: $dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  opacity: 0;
  transform: translate(100%, 0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-in {
  transform: translate(0, 0);
  opacity: 1;
}
.header__close-button {
  background-color: transparent;
  position: absolute;
  top: 23px;
  right: 28px;
}
.button-buy {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  height: 44px;
  border-radius: 22px;
  width: 209px;
  font-family: $dm-sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  color: $accent-color;
  background-color: $primary-text-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.header__button-buy {
  display: none;
}
.button-buy__symbol {
  font-size: 20px;
}

.nav-list__item {
  border-top: 1px solid $border-color;
  &:last-child {
    border-bottom: 1px solid $border-color;
  }
}
.nav-list__link {
  height: 42px;
  padding-left: 21px;
  padding-top: 12px;

  &--selected-page {
    color: $accent-color;
  }
}

.header__button {
  display: none;
}
.hero {
  z-index: 10;
}

.round {
  display: block;
  position: absolute;
  left: 36px;
  top: 83px;
  background-color: $h3-text-color;
  width: 346px;
  height: 344px;
  border-radius: 50%;
}
.hero__icecream {
  position: absolute;
  left: 117px;
  top: 92px;
}

.hero__info {
  position: absolute;
  top: 193px;
  left: 20px;
  width: 218px;
}
.hero__h1 {
  font-family: $titan;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;
}
.hero__span {
  font-size: 48px;
  line-height: 0.965;
  color: $accent-color;
}
.hero-list {
  display: flex;
}
.hero-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.hero__button {
  height: 32px;
  width: 111px;
  border-radius: 20px;

  font-family: $dm-sans;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.27;
  align-items: center;
  text-align: center;
  color: $accent-color;
  background-color: $primary-text-color;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &--red {
    width: 84px;
    color: $primary-text-color;
    background-color: $accent-color;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }
}

.hero__add-info {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 399px;
    overflow: visible;
  }
  .header__section {
    padding-top: 37px;
  }

  .header__menu-button {
    position: absolute;
    top: 52px;
    right: 224px;
    z-index: 50;
  }

  .nav {
    width: 260px;
    height: 1020px;
  }

  .header__close-button {
    right: 34px;
  }
  .nav-list__link {
    height: 42px;
    padding-left: 24px;
  }
  .button-buy {
    width: 186px;
  }
  .header__button-buy {
    display: flex;
    margin: 0px;
    width: 160px;
    position: absolute;
    top: 38px;
    right: 34px;
    z-index: 50;
  }

  .round {
    left: 307px;
    top: 31px;
    width: 324px;
    height: 322px;
  }

  .hero__flex-container {
    display: flex;
    justify-content: space-between;
  }
  .hero__icecream {
    left: 378px;
    top: 63px;
    width: 143px;
    height: 336px;
  }

  .hero__info {
    top: 102px;
    left: 34px;
    width: 162px;
  }
  .hero__h1 {
    font-size: 22px;
    line-height: 1.14;
    margin-bottom: 20px;
  }
  .hero__span {
    font-size: 34px;
    line-height: 0.905;
  }
  .hero__add-info {
    display: block;
  }
  .hero__milk {
    position: absolute;
    top: 245px;
    left: 34px;
  }
  .hero__milk-info {
    position: absolute;
    top: 292px;
    left: 154px;
    width: 114px;
    font-family: $dm-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.5;
  }
  .hero__arrow-link {
    position: absolute;
    top: 347px;
    left: 154px;
    width: 18px;
  }

  .number-list {
    position: absolute;
    top: 94px;
    left: 683px;
    display: flex;
    flex-direction: column;
  }

  .number-list__item {
    &:first-child {
      margin-bottom: 13px;
    }
    position: relative;
  }
  .number-list__round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $bg-color;
    display: block;
    position: absolute;
    top: -2px;
    right: -10px;
  }
  .number-list__header {
    position: inherit;
    font-family: $titan;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    color: $accent-color;
    text-align: right;
  }
  .number-list__info {
    font-family: $dm-sans;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
  }

  .hero__girl-pic {
    position: absolute;
    top: 266px;
    left: 566px;
    width: 168px;
  }
  .hero__right-part {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 665px;
  }

  .header__button-buy,
  .header__close-button,
  .header__menu-button {
    display: none;
  }
  .button-buy {
    margin-bottom: 0;
    margin-left: 0px;
    width: 159px;
  }
  .nav {
    position: inherit;
    width: auto;
    height: auto;
    padding-top: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    opacity: 1;
    transform: translate(0, 0);
    font-size: 16px;
    line-height: 1.31;
  }
  .nav-list {
    display: flex;
    margin-right: 110px;
  }
  .nav-list__item {
    border: none;
    margin-right: 35px;
    &:last-child {
      border: none;
      margin-right: 0;
    }
  }
  .nav-list__link {
    padding-left: 0;
    padding-top: 13px;
  }

  .round {
    left: 474px;
    top: 53px;

    width: 538px;
    height: 538px;
  }

  .hero__icecream {
    left: 593px;
    top: 109px;
    width: 236px;
    height: 557px;
  }
  .hero__info {
    top: 176px;
    left: 115px;
    width: 277px;
  }
  .hero__h1 {
    font-size: 38px;
    line-height: 1.16;
    margin-bottom: 25px;
  }
  .hero__span {
    font-size: 58px;
    line-height: 0.905;
  }
  .hero__button {
    height: 40px;
    width: 138px;
    border-radius: 20px;

    font-size: 14px;
    line-height: 1.29;

    &--red {
      width: 104px;
    }
  }

  .hero__milk {
    top: 434px;
    left: 77px;
    width: 188px;
  }
  .hero__milk-info {
    top: 490px;
    left: 295px;
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
  .hero__arrow-link {
    position: absolute;
    top: 588px;
    left: 295px;
    width: 26px;
  }
  .number-list {
    top: 157px;
    left: 1090px;
  }
  .number-list__item {
    &:first-child {
      margin-bottom: 15px;
    }
  }

  .number-list__round {
    width: 30px;
    height: 30px;
    top: -4px;
    right: -18px;
  }
  .number-list__header {
    font-size: 46px;
    line-height: 1.15;
  }
  .number-list__info {
    font-size: 14px;
    line-height: 1.29;
  }

  .hero__girl-pic {
    top: 434px;
    left: 877px;
    width: 293px;
  }
}
