// $copy специальный значок для авторский прав
.footer {
  @media screen and (max-width: 767px) {
    margin-top: 113px;
  }
}
.text {
  @media screen and (max-width: 767px) {
    text-align: left;
    margin-bottom: 43px;
  }
}

.text-h3 {
  font-family: $titan, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.17;
  color: $h3-text-color;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    margin-bottom: 17px;
  }
}

.text-h4 {
  font-family: $titan, sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: $accent-color;
  text-transform: uppercase;
}
.footer-social {
  @media screen and (max-width: 767px) {
    margin-bottom: 65px;
  }
}
.footer-social-list {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  }
}

@media screen and (max-width: 767px) {
  .social-icon:not(:last-child) {
    margin-right: 28px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: $btn-social-color;

  & .logo-icon {
    fill: $primary-text-color;

    transition-duration: 250ms;
    transition-delay: $timing-function;
  }
}

.logo-icon {
  fill: $accent-color;
}

.footer-p {
  @media screen and (max-width: 767px) {
    text-align: right;
  }
  font-family: $dm-sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: $secondary-text-color;
}

.footer .link {
  color: $accent-color;
}

.footer-copy {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.footer-copy-text {
  font-family: $dm-sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: $third-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
    color: $third-text-color;
  }
}
