// .container {
// }
.footer {
  background-color: $secondary-bg-color;
}
// .footer {
//   @media screen and (max-width: 767px) {
//     padding-top: 113px;
//   }
// }
.footer-box {
  padding-bottom: 43px;
  @media screen and (min-width: 768px) {
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 91px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 97px;
  }
  // @media screen and (min-width: 768px) {
  //   padding-left: 115px;
  //   padding-right: 115px;
  // }
}
.text {
  @media screen and (max-width: 767px) {
    margin-bottom: 43px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 7px;
  }
}

// .text-h2 {
//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
// }
// .text-h3 {
//   @media screen and (min-width: 1200px) {
//     display: flex;
//   }
// }

.text-h2 {
  font-family: $titan;
  font-weight: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: $h3-text-color;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    margin-bottom: 17px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.text-wrap {
  display: inline-block;
  @media screen and (max-width: 1199px) {
    display: block;
  }
}
.text-wrap-footer {
  @media screen and (max-width: 1199px) {
    display: block;
  }
}
.text-h3 {
  font-family: $titan;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    max-width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}
// .footer-social {
// @media screen and (max-width: 767px) {
//   padding-bottom: 43px;
// }
// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   padding-bottom: 145px;
// }
// @media screen and (min-width: 1200px) {
//   padding-bottom: 98px;
// }
// }

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
}

.social-icon:not(:last-child) {
  margin-right: 28px;

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-right: 30px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: $btn-social-color;

  & .logo-icon {
    fill: $primary-text-color;
  }
}
.social-link:hover,
.social-link:focus {
  background: $accent-color;

  transition: color 250ms $timing-function;
}
.logo-icon:hover .social-link {
  background: $accent-color;
}
.footer-p {
  display: flex;
  justify-content: flex-end;
  font-family: $dm-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: $secondary-text-color;
  text-align: right;
  @media screen and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) and(max-width: 1199px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.footer .footer-p-link {
  color: $accent-color;
  font-weight: 700;
  margin-left: 5px;
}
.footer-second {
  border-top: 1px solid $comment-line-color;
}
.footer-copy {
  @media screen and (max-width: 767px) {
    padding-top: 22px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer-copy-text {
  font-family: $dm-sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  color: $third-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
// .text-wrap {
//   @media screen and (min-width: 1200px) {
//     display: flex;
//     flex-wrap: nowrap;
//   }
//   &-footer {
//     @media screen and (max-width: 767px) {
//       display: flex;
//       flex-wrap: wrap;
//       justify-content: center;
//     }
//   }
// }
