.list {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  display: inline-block;
}
a {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.section-making {
  background-color: $secondary-bg-color;
  padding-top: 125px;
  padding-right: auto;
  padding-bottom: 145px;
  padding-left: auto;
  @media screen and (max-width: 767px) {
    padding-top: 125px;
    padding-bottom: 145px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 246px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 125px;
    padding-bottom: 310px;
  }
}

.making-title {
  margin-top: 0px;
  margin-bottom: 26px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  color: $h3-text-color;
}
.making-made {
  margin-top: 15px;
  display: block;
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $accent-color;
}
.making-description {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 46px;
  margin-bottom: 47px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $secondary-text-color;
}
.making-promotion {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 0;
  margin-bottom: 17px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: $third-text-color;
}
.making-btn {
  padding: 0;
  margin-right: 14px;
  min-width: 176px;
  min-height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 22px;
  color: $accent-color;
  background-color: $primary-text-color;
  border: none;
  cursor: pointer;
}
.making-btn-style {
  padding-right: 94px;
  padding-left: 50px;
  margin-bottom: 39px;
}