.products {
  padding-top: 121px;
  padding-bottom: 98px;
}
.products-card {
  position: relative;
  background-color: #ffb8ca;
  color: #ffffff;
  width: 280px;
  height: 485px;
  box-sizing: border-box;

  box-shadow: rgba(255, 184, 202, 1);
  border-radius: 24px;
  display: block;

  box-sizing: border-box;
  padding-top: 161px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 41px;
  margin-bottom: 120px;
}
.products-card-grey {
  position: relative;
  background-color: #f0d1a5;
  color: #ffffff;
  width: 280px;
  height: 485px;
  box-sizing: border-box;

  box-shadow: rgba(240, 209, 165, 1);
  border-radius: 24px;
  display: block;

  box-sizing: border-box;
  padding-top: 161px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 41px;
  margin-bottom: 130px;
}
.products-card-green {
  position: relative;
  display: block;
  background-color: #c2e297;
  color: #ffffff;
  width: 280px;
  height: 485px;

  box-shadow: rgba(194, 226, 151, 1);
  border-radius: 24px;
  box-sizing: border-box;

  padding-top: 161px;
  padding-left: 41px;
  padding-right: 41px;
  padding-bottom: 41px;
}

.social-card-section-text {
  /* height: 124px;
  width: 100%; */
  display: flex;
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  margin-bottom: 30px;
}
.products-card-name {
  margin-bottom: 30px;

  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}
.soc-media-logo {
  margin-bottom: 30px;
  justify-content: center;
}
.products-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-thumb {
  position: absolute;
  top: -25%;
  right: 15px;
  display: flex;
}
.products-title h2 {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;

  margin-bottom: 15px;
}
.products-title h1 {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
  margin-bottom: 144px;
}
