.reviews {
  padding-top: 123px;
  padding-bottom: 234px;
  text-align: center;
}
.slider {
  display: inline-block;
  width: 280px;
}
.reviewers-photo {
  margin-bottom: 29px;
}
.comment-box {
  background-color: $bgc-reviews;
  position: relative;
  padding: 43px 50px 20px 50px;
  height: 308px;
  margin-bottom: 30px;
}
.comment {
  display: block;
  position: absolute;
  width: 180px;
  color: $secondary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  // line-height: 2.58;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.04em;
  z-index: 10;
}
.reviewers-info {
  color: $secondary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
}
.quotes {
  position: absolute;
  top: 28px;
  left: 61px;
  z-index: 1;
}
.dots-list {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.dots-item {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
