.reviews {
  padding-top: 154px;
  padding-bottom: 170px;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 279px;
    padding-bottom: 197px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 382px;
    padding-bottom: 234px;
  }
}
.swiper-wraper {
  height: 0px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.container-reviews {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  // TABLET
  @media screen and (min-width: 768px) {
    padding-right: 36px;
    padding-left: 36px;
  }

  // DESCKTOP
  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-right: 115px;
    padding-left: 115px;
  }
}
.swiper-slide {
  display: block;
  max-width: 280px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 320px) {
    max-width: 620px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 926px;
  }
}
.reviewers-photo {
  margin-bottom: 29px;

  @media screen and (min-width: 768px) {
    margin-bottom: 19px;
  }
}
.comment-box {
  display: block;
  background-color: $bgc-reviews;
  position: relative;
  max-width: 926px;
  padding: 41px 50px 20px 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  z-index: 0;

  @media screen and (min-width: 768px) {
    padding: 47px 38px 28px 38px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 47px 52px;
    margin-bottom: 15px;
  }
}
.quotes {
  position: absolute;
  top: 26px;
  left: 63px;
  z-index: -1;

  @media screen and (min-width: 768px) {
    top: 30px;
    left: 40px;
  }

  @media screen and (min-width: 1200px) {
    top: 32px;
    left: 50px;
  }
}
.comment {
  display: block;
  position: static;
  padding-left: 10px;
  padding-right: 10px;
  color: $secondary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  letter-spacing: 0.04em;
  z-index: 1;

  background: repeating-linear-gradient(
    to bottom,
    $comment-line-color 0px,
    transparent 1px,
    transparent 30px,
    $comment-line-color 30px,
    $comment-line-color 31px
  );
  background-position: center bottom 3px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 30px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.reviewers-info {
  color: $secondary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.dots-list {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
  }
}
.dots-item {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $slider-dots;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0px !important;
  opacity: 1;

  background-color: #d9d9d9;
  &:not(:last-child) {
    margin-right: 18px !important;
  }
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;

  &:before {
    display: block;
    content: '';
    width: 13px;
    height: 12px;
    background-image: url('../img/home.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: transparent;
  }
}
